<th:block th:fragment="modal">

    <div id="success_tic" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <div class="page-body">
                    <div class="head">
                        <h5 style="margin-top:3px;">Вашата објава е ставена на листата на одобрување</h5>
                    </div>
                    <h1 class="pt-2" style="text-align:center;"><div class="checkmark-circle">
                        <div class="background"></div>
                        <div class="checkmark draw"></div>
                    </div>
                        <p class="pt-4" style="text-align:center;">Ви благодариме!</p>
                    </h1>
                </div>
            </div>
        </div>

    </div>


</th:block>