<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="|Неготино - ${goodThing.getTitle()}"></title>
    <th:block th:replace="fragments/head"></th:block>
</head>

<body>
<th:block th:replace="fragments/navbar"></th:block>

<!-- ##### Post Details Area Start ##### -->
<section class="post-news-area mt-3 mb-2">

    <div class="container">
        <div class="post-details-title-area bg-overlay clearfix" th:style="|background:url(data:image/jpeg;base64,${imageEncoder.generateBase64Image(goodThing.getImgData(),defaultImageGoodThing)}); background-position:center; background-size: cover;|" >
            <div class="h-100">
                <div class="row h-100">
                    <div class="col-12 col-lg-12">
                        <!-- Post Content -->
                        <div class="post-content">
                            <p class="tag ml-3" style="min-width: 300px">
                                <span th:text="${goodThing.getAuthor()}"></span>
                            </p>
                            <p th:text="${goodThing.getTitle()}" class="post-title ml-2"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <!-- Left Side (Text) -->
            <div class="col-12 col-lg-8">
                <div class="post-details-content mt-5 mb-100">
                    <p th:text="${goodThing.getText()}"></p>
                    <div class="d-flex justify-content-center mt-5">
                        <div class="fb-share-button mr-3"
                             th:attr="data-href=|/good-things/single-good-thing/${goodThing.getId()}|"
                             data-layout="button_count" data-size="large">
                        </div>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button ml-5" data-size="large" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4 mt-5">
                <div class="sidebar-area">

                    <!-- Last Events -->
                    <div class="single-widget-area news-widget mb-30">
                        <h4 class="border-bottom border-danger th:if">Последни Добри Дела</h4>

                        <div class="single-blog-post d-flex style-4 mb-30" th:each="getGoodThing,iter : ${top10ApprovedGoodThings}" th:if="${getGoodThing.getId() != goodThing.getId()}" >

                            <!-- Blog Thumbnail -->
                            <div class="blog-thumbnail">
                                <a href="#">
                                    <img class="latest-news" th:src=" 'data:image/jpeg;base64,'+ ${imageEncoder.generateBase64Image(getGoodThing.getImgData(),defaultImageGoodThing)}" alt="No image" />
                                </a>
                            </div>
                            <!-- Blog Content -->
                            <div class="blog-content">
                                <span th:text="${getGoodThing.getAuthor()}" class="post-date"></span>
                                <a th:text="${getGoodThing.getTitle()}" th:href="|/good-things/single-good-thing/${getGoodThing.getId()}|" class="post-title"></a>
                            </div>
                        </div>
                    </div>

                    <!--                    <a class="add-news" style="text-decoration:none" href="/news/add">-->
                    <!--                        <div class="single-widget-area newsletter-widget mb-30 bg-white border border-dark">-->
                    <!--                            <img src="/Photos/addIcon.png" alt="Logo">-->
                    <!--                            <h4 class="hide-href1 pt-4" style="text-decoration:none;">Додади Настан</h4>-->
                    <!--                        </div>-->
                    <!--                    </a>-->
                </div>
            </div>
        </div>
    </div>

</section>
<!-- ##### Post Details Area End ##### -->

<!-- Footer -->
<th:block th:replace="fragments/footer"></th:block>

<script src="js/jquery/jquery-2.2.4.min.js"></script>
<th:block th:replace="fragments/js"></th:block>

<div id="fb-root"></div>
<script>
    // Facebook
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>